.Menu_Titre
{
	font-size: 12px;
	font-family: Verdana;
	font-weight: bold;
	color:#176a28;
}

.Menu_Contenu
{
	font-size: 10px;
	font-family: Verdana;
	font-weight: bold;
	color:#000000;
}

.Lien:link
{
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana;
	font-size: 12px;
}

.Lien:visited
{
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
}

.Lien:hover
{
	text-decoration: none;
	font-weight: bold;
	color: #176a28;
	font-family: Verdana;
	font-size: 12px;
}

.Lien:active 
{
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
}

.Noir
{
	color:#000000;
	font-family: Verdana;
	font-weight: bold;
	}
	
.Titre
{
	font-size: 12px;
	font-family: Verdana;
	font-weight: bold;
	color:#000000;
}

.Menu_Lien:link
{
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana;
	font-size: 10px;
}

.Menu_Lien:visited
{
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	font-family: Verdana;
	font-size: 10px;
}

.Menu_Lien:hover
{
	text-decoration: none;
	font-weight: bold;
	color: #176a28;
	font-family: Verdana;
	font-size: 10px;
}

.Menu_Lien:active 
{
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	font-family: Verdana;
	font-size: 10px;
}

.Corp
{
	font-family: Verdana;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}
	
.Vert
{
	color: #176a28;
	font-family: Verdana;
	font-weight: bold;
}